<div class="actors">
  <div class="breadcrumbs">
    <h1 class="font-weight-bold">Admin > Actors</h1>
    <a href="javascript:void(0)" (click)="toggleAction()" class="float-right btn-add"><i class="fa fa-plus-square "></i></a>
  </div>
  <div [@toggleAction]= 'state' class="toggle-action">
    <form id="myForm" novalidate [formGroup]="actorForm" (ngSubmit)="clicked ? EditActorSubmit($event) : AddActorSubmit($event) " enctype="multipart/form-data">
      <div class="form-group" [class.has-danger]="actorName?.invalid && (actorName?.dirty || actorName?.touched)" [class.has-success]="actorName?.valid && (actorName?.dirty || actorName?.touched)" >
        <label>Name Actor</label>
        <input type="text" class="form-control" formControlName="actorName"  placeholder="Enter Actor here" required>
        <p class="col alert alert-danger" role="alert"
           *ngIf="actorName?.errors?.required && actorName?.touched">
          Actor name is required
        </p>
      </div>
      <div class="form-group" >
        <label>Country</label>
        <select class="form-control" formControlName="country">
          <option value="{{country}}" *ngFor="let country of countries">{{country}}</option>
        </select>
      </div>

      <div class="form-group">
        <label>Gender</label>
        <select  class="form-control" formControlName="gender">
          <option value="Male">Male</option>
          <option value="Female">Female</option>
        </select>
      </div>
      <div class="form-group" >
        <label>Image</label>
        <input type="file" (change)="onSelectedFile($event)" class="form-control" [attr.disabled]="is_edit=== true ? 'false' : null">
      </div>
      <div class="form-group">
        <label>Birth day</label>
        <input type="date"  max="3000-12-31"
               min="1000-01-01" class="form-control" formControlName="birth_day">
      </div>

      <button type="button" (click)="reset($event)" class="btn btn-reset float-right">Reset</button>
      <button type="submit" class="btn btn-save float-right">Save</button>
    </form>
  </div>
  <div class="list-actors">
    <table class="table table-bordered table-responsive-lg">
      <thead class="table-dark">
      <tr class="m-0">
        <th class="5 text-uppercase">id</th>
        <th class="w-5 text-uppercase">name actor</th>
        <th class="w-15 text-uppercase">image</th>
        <th class="w-10 text-uppercase">gender</th>
        <th class="w-10 text-uppercase">country</th>
        <th class="w-10 text-uppercase">birth day</th>
        <th class="w-10 text-uppercase">date created</th>
        <th class="w-10 text-uppercase">date updated</th>
        <th class="w-10 text-uppercase">action</th>
      </tr>
      </thead>
      <tbody>
      <tr class="m-0" *ngFor="let actor of actors, let i = index">
        <td class="w-5">{{ i }}</td>
        <td class="w-10">{{ actor.actor_name }}</td>
        <td class="w-10"><img src="{{actor.image}}" [height]="150" [width]="100" alt=""></td>
        <td class="w-10">{{ actor.gender }}</td>
        <td class="w-10" *ngIf="actor.country !== null ">{{actor.country}}</td>
        <td class="w-10" *ngIf="actor.country === null ">Đang cập nhật</td>
        <td class="w-5" *ngIf="actor.birth_day !== null">{{ actor.birth_day }}</td>
        <td class="w-5" *ngIf="actor.birth_day === null">Đang cập nhật</td>
        <td class="w-10">{{actor.created_at}}</td>
        <td class="w-10">{{actor.updated_at}}</td>
        <td class="w-10">
          <a type="button" class="btn btn-dark" (click)="editActor(actor, actor.id)">Edit</a>
          <a type="button" class="btn btn-danger" (click)="removeFilm(film.id)">Remove</a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="history">
    <a href="javascript:void(0)" (click)="toggleHistory()" class="btn btn-info btn-history float-right"><i class="fa fa-history"></i> History Delete</a>
    <div class="list-history" [@toggleHistory] = 'state_1'>
      <table class="table table-bordered table-responsive-lg">
        <thead class="table-dark">
        <tr class="m-0">
          <th class="w-10 text-uppercase">id</th>
          <th class="w-10 text-uppercase">name film</th>
          <th class="w-10 text-uppercase">name film el</th>
          <th class="w-20 text-uppercase">date deleted</th>
          <th class="w-20 text-uppercase">action</th>
        </tr>
        </thead>
        <tbody>
        <tr class="m-0" *ngFor="let history of histories">
          <td class="w-10">{{ history.id }}</td>
          <td class="w-10">{{ history.film_name }}</td>
          <td class="w-10">{{ history.film_name_el }}</td>
          <td class="w-20">{{history.deleted_at}}</td>
          <td class="w-20">
            <a type="button" (click)="restoreFilm(history.id)" class="btn btn-info btn-restore">Restore</a>
            <a type="button" class="btn btn-danger btn-delete" (click)="deleteFilm(history.id)" >Delete</a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
