<div class="films-posters">
  <div class="breadcrumbs">
    <h1 class="font-weight-bold">Admin > Films > Poster</h1>
    <a href="javascript:void(0)" (click)="toggleAction()" class="float-right btn-add"><i class="fa fa-plus-square "></i></a>
  </div>
  <div [@toggleAction]= 'state' class="toggle-action">
    <form novalidate [formGroup]="PosterForm" (ngSubmit)="clicked ? EditPosterSubmit($event) : AddPosterSubmit($event) " enctype="multipart/form-data">
      <div class="form-group">
        <label>Film name</label>
        <select class="form-control" formControlName="filmName">
          <option value="{{film.id}}" *ngFor="let film of films" >{{film.film_name}}</option>
        </select>
      </div>
      <div class="form-group" [class.has-danger]="imageName?.invalid && (imageName?.dirty || imageName?.touched)" [class.has-success]="imageName?.valid && (imageName?.dirty || imageName?.touched)" >
        <label>Name Image</label>
        <input type="text" class="form-control" formControlName="imageName"  placeholder="Enter your Image" required>
        <p class="col alert alert-danger" role="alert"
           *ngIf="imageName?.errors?.required && imageName?.touched">
          Film name is required
        </p>
      </div>
      <div class="form-group" >
        <label>Image</label>
        <input type="file" (change)="onSelectedFile($event)" class="form-control">
      </div>
      <button type="button" (click)="reset()" class="btn btn-reset float-right">Reset</button>
      <button type="submit" class="btn btn-save float-right">Save</button>
    </form>
  </div>
  <div class="list-poster">
    <table class="table table-bordered table-responsive-lg">
      <thead class="table-dark">
      <tr class="m-0">
        <th class="w-10 text-uppercase">id</th>
        <th class="w-10 text-uppercase">name image</th>
        <th class="w-10 text-uppercase">link</th>
        <th class="w-10 text-uppercase">name film</th>
        <th class="w-10 text-uppercase">date created</th>
        <th class="w-10 text-uppercase">date updated</th>
        <th class="w-10 text-uppercase">action</th>
      </tr>
      </thead>
      <tbody>
      <tr class="m-0" *ngFor="let image of posters, let i = index">
        <td class="w-10">{{ i + 1 }}</td>
        <td class="w-10">{{ image.poster_name }}</td>
        <td class="w-10 d-flex justify-content-center"><a href="{{image.link}}" target="_blank"><img src="{{ image.link}}" class="" [height]="200" [width]="400" alt="{{image.slug}}"></a></td>
        <td class="w-20">{{ image.film['film_name']}}</td>
        <td class="w-15">{{image.created_at}}</td>
        <td class="w-15">{{image.updated_at}}</td>
        <td class="w-20">
          <a type="button" class="btn btn-dark" (click)="editImage(image, image.id)">Edit</a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="history">
    <a href="javascript:void(0)" (click)="toggleHistory()" class="btn btn-info btn-history float-right"><i class="fa fa-history"></i> History Delete</a>
    <div class="list-history" [@toggleHistory] = 'state_1'>
      <table class="table table-bordered table-responsive-lg">
        <thead class="table-dark">
        <tr class="m-0">
          <th class="w-10 text-uppercase">id</th>
          <th class="w-10 text-uppercase">name image</th>
          <th class="w-10 text-uppercase">link</th>
          <th class="w-20 text-uppercase">date deleted</th>
          <!--<th class="w-20 text-uppercase">action</th>-->
        </tr>
        </thead>
        <tbody>
        <tr class="m-0" *ngFor="let history of histories, let i = index ">
          <td class="w-10">{{ i + 1 }}</td>
          <td class="w-10">{{ history.image_name }}</td>
          <td class="w-10">{{ history.link }}</td>
          <td class="w-20">{{history.deleted_at}}</td>
          <!--<td class="w-20">-->
          <!--<a type="button" (click)="restoreImage(history.id)" class="btn btn-info btn-restore">Restore</a>-->
          <!--<a type="button" class="btn btn-danger btn-delete" (click)="deleteFilm(history.id)" >Delete</a>-->
          <!--</td>-->
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
