.tag {
  margin-top: 50px;
  margin-bottom: 25px;
  background-color: white;
  .title {
    height: 62px;
    width: 100%;
    background-color: #929292 ;
    h3 {
      padding:14px;
    }
  }
  .more-tags {
    .btn-tag {
      background-color: #222227 ;
      color: #fff;
      margin: 5px;
    }
  }
}