<div class="container theaters-movies">
  <div class="row">
    <div class="col-12">
      <div class="row">
        <h2 class="text-uppercase font-weight-bold col-12"><a href="">Nổi bật</a></h2>
      </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 series-movies">
      <div class="row">
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active font-weight-bold" id="pills-newest-theaters-tab" data-toggle="pill" href="#chieurapmoi" role="tab" aria-controls="pills-home" aria-selected="true">Mới nhất</a>
          </li>
          <li class="nav-item">
            <a class="nav-link font-weight-bold" id="pills-theaters-tab" data-toggle="pill" href="#chieuraphot" role="tab" aria-controls="pills-profile" aria-selected="false">Xem Nhiều nhất</a>
          </li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content col-12">
          <div id="chieurapmoi" class="container tab-pane active"><br>
            <app-newest-theater-movie></app-newest-theater-movie>
          </div>
          <div id="chieuraphot" class="container tab-pane fade"><br>
           <app-theater-movies></app-theater-movies>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="row">
        <h2 class="text-uppercase font-weight-bold col-12"><a href="">Mỹ >></a></h2>
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="row">
            <ul class="nav nav-pills mb-3" id="pills-tab1" role="tablist">
              <li class="nav-item">
                <a class="nav-link active font-weight-bold" id="pills-newest-my-movie-tab" data-toggle="pill" href="#phimmymoi" role="tab" aria-controls="pills-home" aria-selected="true">Mới nhất</a>
              </li>
              <li class="nav-item">
                <a class="nav-link font-weight-bold" id="pills-hot-my-movie-tab" data-toggle="pill" href="#phimmyhot" role="tab" aria-controls="pills-profile" aria-selected="false">Xem Nhiều nhất</a>
              </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content col-12">
              <div id="phimmymoi" class="container tab-pane active"><br>
                <app-us-newest-movie></app-us-newest-movie>
              </div>
              <div id="phimmyhot" class="container tab-pane fade"><br>
                <app-theater-us-movie></app-theater-us-movie>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="row">
        <h2 class="text-uppercase font-weight-bold col-12"><a href="">Hàn Quốc >></a></h2>
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="row">
            <ul class="nav nav-pills mb-3" id="pills-tab2" role="tablist">
              <li class="nav-item">
                <a class="nav-link active font-weight-bold" id="pills-newest-hanquoc-movie-tab" data-toggle="pill" href="#hanquocmoi" role="tab" aria-controls="pills-home" aria-selected="true">Mới nhất</a>
              </li>
              <li class="nav-item">
                <a class="nav-link font-weight-bold" id="pills-hot-hanquoc-movie-tab" data-toggle="pill" href="#hanquochot" role="tab" aria-controls="pills-profile" aria-selected="false">Xem Nhiều nhất</a>
              </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content col-12">
              <div id="hanquocmoi" class="container tab-pane active"><br>
                <app-newest-korea-theater-movie></app-newest-korea-theater-movie>
              </div>
              <div id="hanquochot" class="container tab-pane fade"><br>
                <app-korea-theater-movie></app-korea-theater-movie>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="row">
        <h2 class="text-uppercase font-weight-bold col-12"><a href="">Việt Nam >> </a></h2>
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="row">
            <ul class="nav nav-pills mb-3" id="pills-tab5" role="tablist">
              <li class="nav-item">
                <a class="nav-link active font-weight-bold" id="pills-newest-vietnam-movie-tab" data-toggle="pill" href="#vietnammoi" role="tab" aria-controls="pills-home" aria-selected="true">Mới nhất</a>
              </li>
              <li class="nav-item">
                <a class="nav-link font-weight-bold" id="pills-hot-vietnam-movie-tab" data-toggle="pill" href="#vietnamhot" role="tab" aria-controls="pills-profile" aria-selected="false">Xem Nhiều nhất</a>
              </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content col-12">
              <div id="vietnammoi" class="container tab-pane active"><br>
                <app-newest-vn-theater-movie></app-newest-vn-theater-movie>
              </div>
              <div id="vietnamhot" class="container tab-pane fade"><br>
                <app-vn-theater-movie></app-vn-theater-movie>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>