.video-movie {
  width: 100%;
}
.episode-list {
  margin-top: 20px;
  background-color: #181818;
  color: black;
  .btn-episode {
    background-color: #f5e458;
    margin: 10px;
    font-size: 17px;
    &.selected {
      background-color: #dddddd;
    }

    &:hover {
      background-color: #cce6ee;
    }
  }
}
