 <ngx-carousel [inputs]="carouselTileOne" (carouselLoad)="carouselTileOneLoad()">
        <ngx-tile NgxCarouselItem *ngFor="let tile of carouselTileOneItems;">
            <div class="wBg">
                <div class="tile" [style.background]="'url(' + tile + ')'">
                </div>
                <h4>Tile</h4>
            </div>
        </ngx-tile>
        <button NgxCarouselPrev class="leftRs"><img src="../../../assets/images/arrow_left.png" alt=""></button>
        <button NgxCarouselNext class="rightRs"><img src="../../../assets/images/arrow_right.png" alt=""></button>
 </ngx-carousel>
