#myCarousel .carousel-caption {
  left:0;
  right:0;
  bottom:0;
  text-align:left;
  padding:10px;
  background:rgba(0,0,0,0.6);
  text-shadow:none;
}
.carousel-inner {
   img {
     width: 100%;
     height: 503px;
   }
}


#myCarousel .list-group {
  position:absolute;
  top:0;
  right:-22px;
  height: 500px !important;
}
#myCarousel .list-group-item {
  border-radius:0;
  cursor:pointer;
  padding: 1.3rem 1.25rem !important;
  background-color: #181818;
  color: #ffffff;
  border: 1px solid rgba(199, 190, 190, 0.125) !important;
}
#myCarousel .list-group .active {
  background-color:#353533;
}

@media (min-width: 992px) {
  #myCarousel {
    padding-right:31.3333%;
    margin-bottom: 100px
  }
  #myCarousel .carousel-controls {display:none;}
}
@media (max-width: 991px) {
  .carousel-caption p,
  #myCarousel .list-group {display:none;}
}
@media (max-width: 768px) {
  .carousel-caption p,
  #myCarousel .list-group {display:none;}
}