<div class="footer-content">
  <div class="row">
    <div class="contribute col-lg-4 col-md-4 col-sm-1" >
      <ul>
        <li><a href="">Thanh vien</a></li>
        <li><a href="">Huong dan su dung</a></li>
        <li><a href="">Lien he quang cao</a></li>
        <li><a href="">Up load noi dung</a></li>
      </ul>
    </div>
    <div class="regulations col-lg-4 col-md-4 col-sm-1" >
      <ul>
        <li><a href="">Thỏa thuận cung cấp và sử dụng dịch vụ mạng xã hội</a></li>
        <li><a href="">Khiếu nại bản quyển</a></li>
        <li><a href="">Thanh viên vi phạm</a></li>
      </ul>
    </div>
    <div class="address col-lg-4 col-md-4 col-sm-1" >
      <ul>
        <li><a href="">Công ty Pageworth</a></li>
        <li><a href="">Địa chỉ: Lô H, Tầng 17, Công viên phần mềm, 02 Quang trung, Đà Nẵng</a></li>
        <li><a href="">Email: ngquancit@gmail.com</a></li>
      </ul>
    </div>
  </div>
</div>