<div class="films">
  <div class="breadcrumbs">
    <h1 class="font-weight-bold">Admin > Films > videos</h1>
    <a href="javascript:void(0)" (click)="toggleAction()" class="float-right btn-add"><i class="fa fa-plus-square "></i></a>
  </div>
  <div [@toggleAction]= 'state' class="toggle-action">

    <form id="myForm" novalidate [formGroup]="VideoForm" (ngSubmit)="clicked ? editVideoSubmit($event) : AddVideoSubmit($event) " enctype="multipart/form-data">
      <div class="form-group">
        <label>Name Film</label>
        <select formControlName="filmName" class="form-control">
          <option value=""></option>
          <option *ngFor="let film of films" value="{{film.id}}">{{film.film_name}}</option>
        </select>
      </div>
      <div class="form-group" [class.has-danger]="title?.invalid && (title?.dirty || title?.touched)" [class.has-success]="title?.valid && (title?.dirty || title?.touched)" >
        <label>Title</label>
        <input type="text" class="form-control" formControlName="title"  placeholder="Enter your first name" required>
        <p class="col alert alert-danger" role="alert"
           *ngIf="title?.errors?.required && title?.touched">
          Title is required
        </p>
      </div>
      <label>Link video</label>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon2">https://example.com/users/</span>
        </div>
        <input type="text" class="form-control" formControlName="link_video" aria-describedby="basic-addon2">
      </div>
      <label>Link trailer</label>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">https://example.com/users/</span>
        </div>
        <input type="text" class="form-control" formControlName="link_trailer" aria-describedby="basic-addon3">
      </div>
      <div class="form-group">
        <label>Poster</label>
        <input type="file" (change)="onSelectedFile($event)" class="form-control">
      </div>
      <div class="form-group">
        <label>Episode</label>
        <select formControlName="episodeNumber" class="form-control">
          <option value=""></option>
          <option *ngFor="let episode of episodes" value="{{episode}}">{{episode}}</option>
        </select>
      </div>

      <button type="button" (click)="reset($event)" class="btn btn-reset float-right">Reset</button>
      <button type="submit" class="btn btn-save float-right">Save</button>
    </form>
  </div>
  <div class="list-films">
    <table class="table table-bordered table-responsive-lg">
      <thead class="table-dark">
      <tr class="m-0">
        <th class="5 text-uppercase">id</th>
        <th class="w-5 text-uppercase">name film</th>
        <th class="w-15 text-uppercase">title</th>
        <th class="w-10 text-uppercase">link</th>
        <th class="w-10 text-uppercase">trailer</th>
        <th class="w-5 text-uppercase">episode</th>
        <th class="w-10 text-uppercase">date created</th>
        <th class="w-10 text-uppercase">date updated</th>
        <th class="w-10 text-uppercase">action</th>
      </tr>
      </thead>
      <tbody>
      <tr class="m-0" *ngFor="let video of videos, let i = index">
        <td class="w-5">{{ i + 1 }}</td>
        <td class="w-5">{{ video.film['film_name']}}</td>
        <td class="w-15">{{ video.title }}</td>
        <td class="w-10">
         <p *ngIf="video.link.length <= 30">{{video.link}}</p>
         <p *ngIf="video.link.length > 30">{{video.link | slice:0:30}}...<a href="javscript:void(0)" (click)="editVideo(video, video.id)">More</a></p>
        </td>
        <td class="w-10">{{ video.trailer }}</td>
        <td class="w-5">{{ video.episode }}</td>
        <td class="w-10">{{video.created_at}}</td>
        <td class="w-10">{{video.updated_at}}</td>
        <td class="w-10">
          <a type="button" class="btn btn-dark" (click)="editVideo(video, video.id)">Edit</a>
          <a type="button" class="btn btn-danger" (click)="removeFilm(film.id)">Remove</a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="history">
    <a href="javascript:void(0)" (click)="toggleHistory()" class="btn btn-info btn-history float-right"><i class="fa fa-history"></i> History Delete</a>
    <div class="list-history" [@toggleHistory] = 'state_1'>
      <table class="table table-bordered table-responsive-lg">
        <thead class="table-dark">
        <tr class="m-0">
          <th class="w-10 text-uppercase">id</th>
          <th class="w-10 text-uppercase">name film</th>
          <th class="w-10 text-uppercase">name film el</th>
          <th class="w-20 text-uppercase">date deleted</th>
          <th class="w-20 text-uppercase">action</th>
        </tr>
        </thead>
        <tbody>
        <tr class="m-0" *ngFor="let history of histories, let i = index ">
          <td class="w-10">{{ i + 1 }}</td>
          <td class="w-10">{{ history.film_name }}</td>
          <td class="w-10">{{ history.film_name_el }}</td>
          <td class="w-20">{{history.deleted_at}}</td>
          <td class="w-20">
            <a type="button" (click)="restoreFilm(history.id)" class="btn btn-info btn-restore">Restore</a>
            <a type="button" class="btn btn-danger btn-delete" (click)="deleteFilm(history.id)" >Delete</a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
