<div class="wrapper">
  <!-- Sidebar -->
  <nav id="sidebar">
    <div class="sidebar-header">
      <img src="../../../../assets/images/logo/logo3.png" alt="">
    </div>
    <ul class="list-unstyled components">
      <li class="active">
        <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Home</a>
        <ul class="collapse list-unstyled" id="homeSubmenu">
          <li>
            <a href="#">Home 1</a>
          </li>
          <li>
            <a href="#">Home 2</a>
          </li>
          <li>
            <a href="#">Home 3</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="#">About</a>
      </li>
      <li>
        <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Pages</a>
        <ul class="collapse list-unstyled" id="pageSubmenu">
          <li>
            <a href="#">Page 1</a>
          </li>
          <li>
            <a href="#">Page 2</a>
          </li>
          <li>
            <a href="#">Page 3</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="#">Portfolio</a>
      </li>
      <li>
        <a href="#">Contact</a>
      </li>
    </ul>
  </nav>
  <div id="content">
    <nav class="navbar navbar-expand-sm navbar-light">
      <div class="mobile-menu"  id="sidebarCollapse">
        <i class="icon ion-md-list"></i>
      </div>
      <img src="../../../../assets/images/logo/logo3.png" >
      <div class="mobile-search" id="mobile-search">
        <i class="icon ion-md-search"></i>
      </div>
    </nav>
    <div class="search" id="search">
      <input type="text" class="form-control" placeholder="Search">
    </div>
  </div>
</div>