<div class="row">
    <h2 class="col-12 text-uppercase">tags</h2>
    <div class="col-12">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 ">
                <a href="" class="btn btn-tag">Tag 1</a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
                <a href="" class="btn btn-tag">Tag 1</a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
                <a href="" class="btn btn-tag">Tag 1</a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
                <a href="" class="btn btn-tag">Tag 1</a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
                <a href="" class="btn btn-tag">Tag 1</a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
                <a href="" class="btn btn-tag">Tag 1</a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
                <a href="" class="btn btn-tag">Tag 1</a>
            </div>
        </div>
    </div>
</div>