<div class="container movie-category">
  <div class="row">
    <div class="col-12">
      <div class="row">
        <h2 class="text-uppercase font-weight-bold col-12"><a href="">Nổi bật</a></h2>
      </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 series-movies">
      <div class="row">
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active font-weight-bold" id="pills-newest-series-tab" data-toggle="pill" href="#phimlemoi" role="tab" aria-controls="pills-home" aria-selected="true">Mới nhất</a>
          </li>
          <li class="nav-item">
            <a class="nav-link font-weight-bold" id="pills-series-tab" data-toggle="pill" href="#phimlehot" role="tab" aria-controls="pills-profile" aria-selected="false">Xem Nhiều nhất</a>
          </li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content col-12">
          <div id="phimlemoi" class="container tab-pane active"><br>
           <app-newest-movie></app-newest-movie>
          </div>
          <div id="phimlehot" class="container tab-pane fade"><br>
            <app-movie></app-movie>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="row">
        <h2 class="text-uppercase font-weight-bold col-12"><a href="">hành động >></a></h2>
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="row">
            <ul class="nav nav-pills mb-3" id="pills-tab1" role="tablist">
              <li class="nav-item">
                <a class="nav-link active font-weight-bold" id="pills-newest-act-movie-tab" data-toggle="pill" href="#hanhdongmoi" role="tab" aria-controls="pills-home" aria-selected="true">Mới nhất</a>
              </li>
              <li class="nav-item">
                <a class="nav-link font-weight-bold" id="pills-hot-act-movie-tab" data-toggle="pill" href="#hanhdonghot" role="tab" aria-controls="pills-profile" aria-selected="false">Xem Nhiều nhất</a>
              </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content col-12">
              <div id="hanhdongmoi" class="container tab-pane active"><br>
                <app-hanh-dong-newest-movie></app-hanh-dong-newest-movie>
              </div>
              <div id="hanhdonghot" class="container tab-pane fade"><br>
                <app-hanh-dong-movie></app-hanh-dong-movie>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="row">
        <h2 class="text-uppercase font-weight-bold col-12"><a href="">Kinh dị >></a></h2>
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="row">
            <ul class="nav nav-pills mb-3" id="pills-tab2" role="tablist">
              <li class="nav-item">
                <a class="nav-link active font-weight-bold" id="pills-newest-horror-movie-tab" data-toggle="pill" href="#kinhdimoi" role="tab" aria-controls="pills-home" aria-selected="true">Mới nhất</a>
              </li>
              <li class="nav-item">
                <a class="nav-link font-weight-bold" id="pills-hot-horror-movie-tab" data-toggle="pill" href="#kinhdihot" role="tab" aria-controls="pills-profile" aria-selected="false">Xem Nhiều nhất</a>
              </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content col-12">
              <div id="kinhdimoi" class="container tab-pane active"><br>
               <app-kinhdi-newest-movie></app-kinhdi-newest-movie>
              </div>
              <div id="kinhdihot" class="container tab-pane fade"><br>
                <app-kinhdi-movie></app-kinhdi-movie>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="row">
        <h2 class="text-uppercase font-weight-bold col-12"><a href="">Tâm lý >> </a></h2>
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="row">
            <ul class="nav nav-pills mb-3" id="pills-tab3" role="tablist">
              <li class="nav-item">
                <a class="nav-link active font-weight-bold" id="pills-newest-mentality-movie-tab" data-toggle="pill" href="#tamlymoi" role="tab" aria-controls="pills-home" aria-selected="true">Mới nhất</a>
              </li>
              <li class="nav-item">
                <a class="nav-link font-weight-bold" id="pills-hot-mentality-movie-tab" data-toggle="pill" href="#tamlyhot" role="tab" aria-controls="pills-profile" aria-selected="false">Xem Nhiều nhất</a>
              </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content col-12">
              <div id="tamlymoi" class="container tab-pane active"><br>
                <app-tamly-newest-movie></app-tamly-newest-movie>
              </div>
              <div id="tamlyhot" class="container tab-pane fade"><br>
                <app-tamly-movie></app-tamly-movie>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="row">
        <h2 class="text-uppercase font-weight-bold col-12"><a href="">Khoa học viễn tưởng >> </a></h2>
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="row">
            <ul class="nav nav-pills mb-3" id="pills-tab4" role="tablist">
              <li class="nav-item">
                <a class="nav-link active font-weight-bold" id="pills-newest-sci-fi-movie-tab" data-toggle="pill" href="#vientuongmoi" role="tab" aria-controls="pills-home" aria-selected="true">Mới nhất</a>
              </li>
              <li class="nav-item">
                <a class="nav-link font-weight-bold" id="pills-hot-sci-fi-movie-tab" data-toggle="pill" href="#vientuonghot" role="tab" aria-controls="pills-profile" aria-selected="false">Xem Nhiều nhất</a>
              </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content col-12">
              <div id="vientuongmoi" class="container tab-pane active"><br>
                <app-vientuong-newest></app-vientuong-newest>
              </div>
              <div id="vientuonghot" class="container tab-pane fade"><br>
                <app-vientuong-movie></app-vientuong-movie>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--<div class="row">-->
    <!--<div class="col-12">-->
      <!--<div class="row">-->
        <!--<h2 class="text-uppercase font-weight-bold col-12"><a href="">Việt Nam >> </a></h2>-->
      <!--</div>-->
      <!--<div class="row">-->
        <!--<div class="col-lg-12 col-md-12 col-sm-12">-->
          <!--<div class="row">-->
            <!--<ul class="nav nav-pills mb-3" id="pills-tab5" role="tablist">-->
              <!--<li class="nav-item">-->
                <!--<a class="nav-link active font-weight-bold" id="pills-newest-vietnam-movie-tab" data-toggle="pill" href="#vietnammoi" role="tab" aria-controls="pills-home" aria-selected="true">Mới nhất</a>-->
              <!--</li>-->
              <!--<li class="nav-item">-->
                <!--<a class="nav-link font-weight-bold" id="pills-hot-vietnam-movie-tab" data-toggle="pill" href="#vietnamhot" role="tab" aria-controls="pills-profile" aria-selected="false">Xem Nhiều nhất</a>-->
              <!--</li>-->
            <!--</ul>-->

            <!--&lt;!&ndash; Tab panes &ndash;&gt;-->
            <!--<div class="tab-content col-12">-->
              <!--<div id="vietnammoi" class="container tab-pane active"><br>-->
                <!--<app-thai-lan-newest-movie></app-thai-lan-newest-movie>-->
              <!--</div>-->
              <!--<div id="vietnamhot" class="container tab-pane fade"><br>-->
                <!--<app-thai-lan-movie></app-thai-lan-movie>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
</div>