<div class="films-information">
  <div class="breadcrumbs">
    <h1 class="font-weight-bold">Admin > Users > Information</h1>
    <a href="javascript:void(0)" (click)="toggleAction()" class="float-right btn-add"><i class="fa fa-plus-square "></i></a>
  </div>
  <div [@toggleAction]= 'state' class="toggle-action">
    <form novalidate [formGroup]="InformationForm" (ngSubmit)="clicked ? EditInformationSubmit($event) : createInformationFilm($event) ">
      <div class="form-group">
        <label>Name film</label>
        <select class="form-control" formControlName="filmName">
          <option value="{{ film.id }}" *ngFor="let film of films" >{{film.film_name}}</option>
        </select>
      </div>
      <div class="form-group" >
        <label>Content</label>
        <editor apiKey="ewoa2no0i55sidcz8m4e3pdfuvv5qv7m4gwu2qcmo44eouc8" [innerHTML]=""  formControlName="content"></editor>
      </div>
      <div class="form-group">
        <label>Year</label>
        <select class="form-control" formControlName="year">
          <option value="{{year}}" *ngFor="let year of years" >{{year}}</option>
        </select>
      </div>
      <div class="form-group">
        <label>High Definition</label>
        <select class="form-control" formControlName="highDefinition">
          <option value="{{ highDefinition }}" *ngFor="let highDefinition of highDefinitions" >{{highDefinition}}</option>
        </select>
      </div>
      <div class="form-group">
        <label>Episode number</label>
        <input type="text" class="form-control" formControlName="episodeNumber">
      </div>

      <button type="button" (click)="reset()" class="btn btn-reset float-right">Reset</button>
      <button type="submit" class="btn btn-save float-right">Save</button>
    </form>
  </div>
  <div class="list-information-film">
    <table class="table table-bordered table-responsive-lg">
      <thead class="table-dark">
      <tr class="m-0">
        <th class="w-10 text-uppercase">id</th>
        <th class="w-5 text-uppercase">name film</th>
        <th class="w-10 text-uppercase">content</th>
        <th class="w-10 text-uppercase">year</th>
        <th class="w-10 text-uppercase">high definition</th>
        <th class="w-15 text-uppercase">view</th>
        <th class="w-5 text-uppercase">episode number</th>
        <th class="w-10 text-uppercase">date created</th>
        <th class="w-10 text-uppercase">date updated</th>
        <th class="w-10 text-uppercase">action</th>
      </tr>
      </thead>
      <tbody>
      <tr class="m-0" *ngFor="let information of informations, let i = index">
        <td class="w-10">{{ i }}</td>
        <td class="w-15">{{information.film['film_name']}}</td>
        <td class="w-25">{{ information.content }}</td>
        <td class="w-10">{{ information.year}}</td>
        <td class="w-5">{{ information.high_definition }}</td>
        <td class="w-5">{{ information.view }}</td>
        <td class="w-5">{{information.episode_number}}</td>
        <td class="w-15">{{information.created_at}}</td>
        <td class="w-15">{{information.updated_at}}</td>
        <td class="w-20">
          <a type="button" class="btn btn-dark" (click)="editInformation(information, information.id)">Edit</a>
          <a type="button" class="btn btn-danger" (click)="deleteUser(user.id)">Remove</a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="history">
    <a href="javascript:void(0)" (click)="toggleHistory()" class="btn btn-info btn-history float-right"><i class="fa fa-history"></i> History Delete</a>
    <div class="list-history" [@toggleHistory] = 'state_1'>
      <table class="table table-bordered table-responsive-lg">
        <thead class="table-dark">
        <tr class="m-0">
          <th class="w-10 text-uppercase">id</th>
          <th class="w-10 text-uppercase">username</th>
          <th class="w-10 text-uppercase">first name</th>
          <th class="w-10 text-uppercase">last name</th>
          <th class="w-20 text-uppercase">email</th>
          <th class="w-5 text-uppercase">user status</th>
          <th class="w-20 text-uppercase">date deleted</th>
          <th class="w-20 text-uppercase">action</th>
        </tr>
        </thead>
        <tbody>
        <tr class="m-0" *ngFor="let history of histories">
          <td class="w-10">{{ history.id }}</td>
          <td class="w-10">{{ history.user_name }}</td>
          <td class="w-10">{{ history.first_name }}</td>
          <td class="w-10">{{ history.last_name }}</td>
          <td class="w-20">{{ history.email }}</td>
          <td class="w-5"><i class="fa" [class.fa-check-circle]="history.user_status === 1"
                             [class.fa-times-circle]="history.user_status === 0"></i></td>
          <td class="w-20">{{history.deleted_at}}</td>
          <td class="w-20">
            <a type="button" (click)="restoreUser(history.id)" class="btn btn-info btn-restore">Restore</a>
            <a type="button" class="btn btn-danger btn-delete" (click)="deleteUserHistory(history.id)" >Delete</a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
