<div class="films-information">
  <div class="breadcrumbs">
    <h1 class="font-weight-bold">Admin > Users > Information</h1>
    <a href="javascript:void(0)" (click)="toggleAction()" class="float-right btn-add"><i class="fa fa-plus-square "></i></a>
  </div>
  <div [@toggleAction]= 'state' class="toggle-action">
    <form novalidate [formGroup]="InformationForm" (ngSubmit)="clicked ? EditInformationSubmit($event) : createInformationFilm($event) ">
      <div class="form-group">
        <label>Name film</label>
        <select class="form-control" formControlName="filmName">
          <option value="{{ film.id }}" *ngFor="let film of films" >{{film.film_name}}</option>
        </select>
      </div>
      <div class="form-group" >
        <label>Content</label>
        <editor apiKey="ewoa2no0i55sidcz8m4e3pdfuvv5qv7m4gwu2qcmo44eouc8" [init]="{
        theme: 'modern',
        paste_data_images: true,
        plugins: [
        'advlist autolink lists link image charmap print preview hr anchor pagebreak',
        'searchreplace wordcount visualblocks visualchars code fullscreen',
        'insertdatetime media nonbreaking save table contextmenu directionality',
        'emoticons template paste textcolor colorpicker textpattern'
        ],
        toolbar1: 'insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
        toolbar2: 'print preview media | forecolor backcolor emoticons',
        image_advtab: true,
        file_picker_callback: uploadImage()
        }" formControlName="content"></editor>
        <input name="image" type="file" id="upload" class="hidden" onchange="">
      </div>
      <div class="form-group">
        <label>Year</label>
        <select class="form-control" formControlName="year">
          <option value="{{year}}" *ngFor="let year of years" >{{year}}</option>
        </select>
      </div>
      <div class="form-group">
        <label>High Definition</label>
        <select class="form-control" formControlName="highDefinition">
          <option value="{{ highDefinition }}" *ngFor="let highDefinition of highDefinitions" >{{highDefinition}}</option>
        </select>
      </div>
      <div class="form-group">
        <label>Episode number</label>
        <input type="text" class="form-control" formControlName="episodeNumber">
      </div>

      <button type="button" (click)="reset()" class="btn btn-reset float-right">Reset</button>
      <button type="submit" class="btn btn-save float-right">Save</button>
    </form>
  </div>
  <div class="list-information-film">
    <table class="table table-bordered table-responsive-lg">
      <thead class="table-dark">
      <tr class="m-0">
        <th class="w-10 text-uppercase">id</th>
        <th class="w-5 text-uppercase">name film</th>
        <th class="w-10 text-uppercase">content</th>
        <th class="w-10 text-uppercase">year</th>
        <th class="w-10 text-uppercase">high definition</th>
        <th class="w-15 text-uppercase">view</th>
        <th class="w-5 text-uppercase">episode number</th>
        <th class="w-10 text-uppercase">date created</th>
        <th class="w-10 text-uppercase">date updated</th>
        <th class="w-10 text-uppercase">action</th>
      </tr>
      </thead>
      <tbody>
      <tr class="m-0" *ngFor="let information of informations, let i = index">
        <td class="w-10">{{ i }}</td>
        <td class="w-15">{{information.film['film_name']}}</td>
        <td class="w-20">
          <p *ngIf="information.content.length <= limit">
            {{ information.content }}
          </p>
          <p *ngIf="information.content.length > limit ">{{information.content |  slice : 0 : limit}} ... <a
                 (click)="editInformation(information, information.id)" href="javascript:void(0)">More</a></p>
          </td>

        <td class="w-10">{{ information.year}}</td>
        <td class="w-5">{{ information.high_definition }}</td>
        <td class="w-5">{{ information.view }}</td>
        <td class="w-5">{{information.episode_number}}</td>
        <td class="w-15">{{information.created_at}}</td>
        <td class="w-15">{{information.updated_at}}</td>
        <td class="w-20">
          <a type="button" class="btn btn-dark" (click)="editInformation(information, information.id)">Edit</a>
          <a type="button" class="btn btn-danger" (click)="removeInformation(information.id)">Remove</a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="history">
    <a href="javascript:void(0)" (click)="toggleHistory()" class="btn btn-info btn-history float-right"><i class="fa fa-history"></i> History Delete</a>
    <div class="list-history" [@toggleHistory] = 'state_1'>
      <table class="table table-bordered table-responsive-lg">
        <thead class="table-dark">
        <tr class="m-0">
          <th class="w-10 text-uppercase">id</th>
          <!--<th class="w-10 text-uppercase">name flm</th>-->
          <th class="w-10 text-uppercase">content</th>
          <th class="w-10 text-uppercase">year</th>
          <th class="w-20 text-uppercase">high definition</th>
          <th class="w-5 text-uppercase">view</th>
          <th class="w-5 text-uppercase">episode number</th>
          <th class="w-20 text-uppercase">date deleted</th>
          <th class="w-20 text-uppercase">action</th>
        </tr>
        </thead>
        <tbody>
        <tr class="m-0" *ngFor="let history of histories, let i = index">
          <td class="w-10">{{ i }}</td>
          <!--<td class="w-10">{{ history.film['film_name'] }}</td>-->
          <td class="w-10">{{ history.content }}</td>
          <td class="w-10">{{ history.year }}</td>
          <td class="w-20">{{ history.high_definition }}</td>
          <td class="w-5">{{ history.view }}</td>
          <td class="w-5">{{ history.episode_number }}</td>
          <td class="w-15">{{ history.deleted_at }}</td>
          <td class="w-20">
            <a type="button" (click)="restoreInformation(history.id)" class="btn btn-info btn-restore">Restore</a>
            <a type="button" class="btn btn-danger btn-delete" (click)="deleteInformation(history.id)" >Delete</a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
