<div class="row">
  <div class="col-md-4 col-xs-12 col-sm-12">
    <div class="images">
      <img src="../../../assets/images/films/db0835d9ac4807b225dee26701f8e1b7.jpg" alt="Avatar" class="img-fluid">
      <div class="overlay">
        <div class="text">
          <div class="row">
            <a class="btn btn-primary btn-trailer">Primary</a>
            <a class="btn btn-danger btn-watch-movie">Danger</a>
          </div>
        </div>
      </div>
      <div class="image-name">
        <div class="name">Hinh 2</div>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-xs-12 col-sm-12">
    <div class="images">
      <img src="../../../assets/images/films/db0835d9ac4807b225dee26701f8e1b7.jpg" alt="Avatar" class="img-fluid">
      <div class="overlay">
        <div class="text">
          <div class="row">
            <a class="btn btn-primary btn-trailer">Primary</a>
            <a class="btn btn-danger btn-watch-movie">Danger</a>
          </div>
        </div>
      </div>
      <div class="image-name">
        <div class="name">Hinh 2</div>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-xs-12 col-sm-12">
    <div class="images">
      <img src="../../../assets/images/films/db0835d9ac4807b225dee26701f8e1b7.jpg" alt="Avatar" class="img-fluid">
      <div class="overlay">
        <div class="text">
          <div class="row">
            <a class="btn btn-primary btn-trailer">Primary</a>
            <a class="btn btn-danger btn-watch-movie">Danger</a>
          </div>
        </div>
      </div>
      <div class="image-name">
        <div class="name">Hinh 2</div>
      </div>
    </div>
  </div>
</div>


