<div class="container movies-detail">
    <div class="row">
        <div class="breadcrumbs">
            <h4>Trang chu > chi tiet</h4>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-12">
            <div class="row info-movie">
                <div class="col-12">
                    <div class="row">
                        <div class="detail-image col-lg-6 col-md-7 col-sm-6">
                            <div class="row">
                                <div class="col-12">
                                    <img src="../../../assets/images/films/360_xxx/12_monkeys.png" alt="" class="img-fluid">
                                    <div class="btn-movie">
                                        <a class="btn btn-primary  col-md-5 col-sm-5">Primary</a>
                                        <a class="btn btn-danger col-md-5 col-sm-5">Danger</a>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="detail-info col-lg-6 col-md-5 col-sm-6">
                            <h3 class="text-uppercase font-weight-bold">12 con khỉ phần 4</h3>
                            <h4 class="font-weight-bold">12 Monkeys Seasion 4 (2018)</h4>
                            <p class=""><span class="font-weight-bold">Số tập:</span>&nbsp;<span>12/12</span></p>
                            <p class=""><span class="font-weight-bold">Chất lượng:</span>&nbsp;<span>Full HD</span></p>
                            <p class=""><span class="font-weight-bold">Đạo diễn:</span>&nbsp;<span>Đang cập nhật</span></p>
                            <p class=""><span class="font-weight-bold">Diễn viên:</span>&nbsp;<span>Amanda Schull, Aaron Stanford, Barbara Sukowa, Todd Stashwick</span></p>
                            <p class=""><span class="font-weight-bold">Thể loại:</span>&nbsp;<span>Khoa học-viễn tưởng</span></p>
                            <p class=""><span class="font-weight-bold">Quốc gia:</span>&nbsp;<span>Mỹ</span></p>
                            <p class=""><span class="font-weight-bold">Thời lượng:</span>&nbsp;<span>45 phút/tập</span></p>
                            <p class=""><span class="font-weight-bold">Lượt xem:</span>&nbsp;<span>1.232</span></p>
                            <p class=""><span class="font-weight-bold">Năm xuất bản:</span>&nbsp;<span>2018</span></p>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <h2 class="col-12 text-uppercase">Thông tin phim</h2>
            </div>
            <div class="movie-content row">
                <div class="col-12">
                    <div class="row">
                        <ul class="nav nav-tabs col-12" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#noi_dung_phim">Nội dung phim</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#dien_vien">Diễn Viên</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#comments">Comments</a>
                            </li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content col-12">
                            <div id="noi_dung_phim" class="container tab-pane active"><br>
                                <h3><strong>12 Con Khỉ Phần 4,&nbsp;12 Monkeys Season 4 (2018)</strong></h3>

                                <p><strong>Phim <a href="http://bilutv.com/phim/12-con-khi-phan-4-6952.html">12 Con Khỉ Phần 4</a>&nbsp;</strong>là một bộ phim khoa học viễn tưởng Mỹ lấy bối cảnh tại tương lai không xa, con người chứng kiến thảm họa kinh hoàng nhất khi gần như toàn bộ dân số trên trái đất tử vong vì bệnh dịch. Chính quyền triệu tập các nhà khoa học tìm cách quay trở lại quá khứ bằng cỗ máy thời gian để tìm nguồn gốc ban đầu của bệnh dịch và tìm kiếm tổ chức đã phát tán loại virus này. Dựa trên phim cùng tên được sản xuất năm 1995 Twelve Monkeys (Brad Pitt, Bruce Willis).</p>

                                <p><img class="img-fluid" alt="Xem Phim 12 Con Khỉ Phần 4, 12 Monkeys Season 4" src="../../../assets/images/films/2-201806622.jpg" title="12 Con Khỉ Phần 4, 12 Monkeys Season 4 (2018)"></p>
                            </div>
                            <div id="dien_vien" class="container tab-pane fade"><br>
                                <div class="col-12">
                                    <div class="row">
                                       <div class="col-lg-3 col-md-3 col-sm-4 image-actor text-center">
                                           <img src="../../../assets/images/thumb.jpg" class=" img-fluid" alt="Responsive image">
                                           <h6 class="name-actor">harry storm</h6>
                                       </div>
                                        <div class="col-lg-3 col-md-3 col-sm-4 image-actor text-center">
                                           <img src="../../../assets/images/thumb.jpg" class=" img-fluid" alt="Responsive image">
                                            <h6 class="name-actor">harry storm</h6>
                                       </div>
                                        <div class="col-lg-3 col-md-3 col-sm-4 image-actor text-center">
                                           <img src="../../../assets/images/thumb.jpg" class=" img-fluid" alt="Responsive image">
                                            <h6 class="name-actor">harry storm</h6>
                                       </div>
                                        <div class="col-lg-3 col-md-3 col-sm-4 image-actor text-center">
                                           <img src="../../../assets/images/thumb.jpg" class=" img-fluid" alt="Responsive image">
                                            <h6 class="name-actor">harry storm</h6>
                                       </div>
                                        <div class="col-lg-3 col-md-3 col-sm-4 image-actor text-center">
                                           <img src="../../../assets/images/thumb.jpg" class=" img-fluid" alt="Responsive image">
                                            <h6 class="name-actor">harry storm</h6>
                                       </div>
                                    </div>
                                </div>
                            </div>
                            <div id="comments" class="container tab-pane fade"><br>
                                <h3>Menu 2</h3>
                                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row tags">
                <h2 class="col-12 text-uppercase">tags</h2>
                <div class="col-12">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-3 ">
                            <a href="" class="btn btn-tag">Tag 1</a>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <a href="" class="btn btn-tag">Tag 1</a>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <a href="" class="btn btn-tag">Tag 1</a>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <a href="" class="btn btn-tag">Tag 1</a>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <a href="" class="btn btn-tag">Tag 1</a>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <a href="" class="btn btn-tag">Tag 1</a>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <a href="" class="btn btn-tag">Tag 1</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <h2 class="text-uppercase col-12">CÓ THỂ BẠN CŨNG MUỐN XEM</h2>
            </div>
            <div class="row related-movie">
                <div class="col-md-4 col-xs-12 col-sm-12">
                    <div class="images">
                        <img src="../../../assets/images/films/db0835d9ac4807b225dee26701f8e1b7.jpg" alt="Avatar" class="img-fluid">
                        <div class="overlay">
                            <div class="text">
                                <div class="row">
                                    <a class="btn btn-primary btn-trailer">Primary</a>
                                    <a class="btn btn-danger btn-watch-movie">Danger</a>
                                </div>
                            </div>
                        </div>
                        <div class="image-name">
                            <div class="name">Hinh 2</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12 col-sm-12">
                    <div class="images">
                        <img src="../../../assets/images/films/db0835d9ac4807b225dee26701f8e1b7.jpg" alt="Avatar" class="img-fluid">
                        <div class="overlay">
                            <div class="text">
                                <div class="row">
                                    <a class="btn btn-primary btn-trailer">Primary</a>
                                    <a class="btn btn-danger btn-watch-movie">Danger</a>
                                </div>
                            </div>
                        </div>
                        <div class="image-name">
                            <div class="name">Hinh 2</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12 col-sm-12">
                    <div class="images">
                        <img src="../../../assets/images/films/db0835d9ac4807b225dee26701f8e1b7.jpg" alt="Avatar" class="img-fluid">
                        <div class="overlay">
                            <div class="text">
                                <div class="row">
                                    <a class="btn btn-primary btn-trailer">Primary</a>
                                    <a class="btn btn-danger btn-watch-movie">Danger</a>
                                </div>
                            </div>
                        </div>
                        <div class="image-name">
                            <div class="name">Hinh 2</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
            <div class="ads_300_600">

            </div>
            <div class="ads_300_250">

            </div>
            <div class="link-facebook">

            </div>
            <!--<div class="related-movie">-->
                <!--<h2 class="text-uppercase">phim liên quan</h2>-->
                <!--<div class="row" *ngFor="let movie of hotMovieOnWeek">-->
                    <!--<div class="thumb-image col-lg-4 col-md-6 col-sm-12">-->
                        <!--<img src="../../../assets/images/films/db0835d9ac4807b225dee26701f8e1b7.jpg" alt="..." class="img-thumbnail">-->
                    <!--</div>-->
                    <!--<div class="img-info col-lg-8 col-md-6 col-sm-12">-->
                        <!--<p class="name">{{movie.name}}</p>-->
                        <!--<p class="el-name">{{movie.el_name}}</p>-->
                        <!--<p><span  class="view-number">Lượt xem: </span><span>{{movie.viewer}}</span></p>-->
                        <!--<p><span class="review">Đánh giá: </span>  <i class="icon" *ngFor="let star of movie.review; let i = index" (click)="setStarTable(movie,i)" [ngClass]="{'ion-md-star-outline':star,'ion-md-star':!star}"></i> </p>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        </div>

    </div>
</div>