.header {
  height: 150px;
}
.carousel {

}
.banner-ads {
  height: 200px;
  background-color: white;
}
.movies-content{
  margin-top: 100px;
}
.series-movie {
  border-bottom: 1px solid rgba(140,136,136,0.9);
}
.movie {
 border-bottom:  1px solid rgba(140,136,136,0.9);
}
.title {
  width: 100%;
  background-color: #929292;
  margin-top: 20px;
  h3{
    margin-left: 5px;
    margin-bottom: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
