
    <div class="container carousel">
        <app-carousel></app-carousel>
    </div>
    <div class="ads container">
        <div class="row">
            <div class="col-12">
                <div class="banner-ads">

                </div>
            </div>
        </div>
    </div>
    <div class="movies-content container">
        <div class="row">
            <div class="left-content col-12">
                <div class="movies">
                    <div class="series-movie">
                        <div class="title">
                            <h3 class="text-uppercase" ><a href="">phim bộ</a></h3>
                        </div>
                        <app-series-film></app-series-film>
                    </div>
                    <div class="movie">
                        <div class="title">
                            <h3 class="text-uppercase"><a href="">Phim lẻ</a></h3>
                        </div>
                        <app-movie></app-movie>
                    </div>
                    <div class="movie-theaters">
                        <div class="title">
                            <h3 class="text-uppercase"><a href="">Phim chiếu rạp</a></h3>
                        </div>
                        <app-theater-movies></app-theater-movies>
                    </div>
                    <div class="movie-anime">
                        <div class="title">
                            <h3 class="text-uppercase"><a href="">anime</a></h3>
                        </div>
                        <app-anime></app-anime>
                    </div>
                </div>
            </div>

            <!--<div class="right-content col-lg-4 col-md-4 col-sm-5 col-xs-5">-->
                <!--<app-tabs></app-tabs>-->
                <!--<app-tag></app-tag>-->
                <!--<app-social></app-social>-->
            <!--</div>-->
        </div>
    </div>

