<div class="row">
  <div class="cbp-af-header  navigation col-12 ">
    <nav class="cbp-af-inner">
      <div class="menu_header">
        <span class="mobile_logo"><img src="../../../../assets/images/logo/logo_1.png" alt="logo"></span>
        <button class="btn menu_btn baars">
          <span class="icon_bar"></span>
          <span class="icon_bar"></span>
          <span class="icon_bar"></span>
        </button>
        <div class="clear"></div>
      </div>
      <div class="logo">
        <a href="" routerLink="home"><img src="../../../../assets/images/logo/logo_1.png" alt="logo"></a>
      </div>
      <ul class="nav-ul">
        <li class="home"><a  class="nav-link"><i class="icon ion-md-home"></i></a></li>
        <li class="dropdown text-uppercase" *ngFor="let category of categories"><a class="dropdownlink droplink-series-movies">{{category.cate_name}}</a>
          <!--<div class="dropdownmenu row">-->
            <!--<div class="col-lg-3 col-md-12 col-sm-12" *ngFor="let genre of category.genres">-->
              <!--<ul>-->
                <!--<li><a>{{genre.genre_name}}</a></li>-->
                <!--&lt;!&ndash;<li class=""><a href="#">Phim Kinh Dị</a></li>&ndash;&gt;-->
                <!--&lt;!&ndash;<li class=""><a href="#">Phim Khoa học viến tưởng</a></li>&ndash;&gt;-->
                <!--&lt;!&ndash;<li class=""><a href="#">Phim hài hước</a></li>&ndash;&gt;-->
              <!--</ul>-->
            <!--</div>-->

            <!--<div class="col-lg-3 col-md-12 col-sm-12">-->
              <!--<ul>-->
                <!--<li class=""><a href="#">Phim Tâm lý</a></li>-->
                <!--<li><a href="#">Phim hoạt hình</a></li>-->
                <!--<li class=""><a href="#">Phim Võ Thuật</a></li>-->
                <!--<li class=""><a href="#">Phim Thần Thoại</a></li>-->
              <!--</ul>-->
            <!--</div>-->

            <!--<div class="col-lg-3 col-md-12 col-sm-12">-->
              <!--<ul>-->
                <!--<li class=""><a href="#">Phim Mỹ</a></li>-->
                <!--<li class=""><a href="#">Phim Hàn Quốc</a></li>-->
                <!--<li><a href="#">Phim Hồng kông </a></li>-->
                <!--<li class=""><a href="#">Phim Trung Quốc</a></li>-->
              <!--</ul>-->
            <!--</div>-->

            <!--<div class="col-lg-3 col-md-12 col-sm-12">-->
              <!--<ul>-->
                <!--<li class=""><a href="#"> Năm 2018</a></li>-->
                <!--<li class=""><a href="#"> Năm 2017</a></li>-->
                <!--<li class=""><a href="#"> Năm 2016</a></li>-->
                <!--<li><a href="#">Năm 2015</a></li>-->
              <!--</ul>-->
            <!--</div>-->
          <!--</div>-->
        </li>
        <!--<li class="dropdown1"><a  class="dropdownlink">PHIM LẺ</a>-->
          <!--<div class="dropdownmenu1 row">-->
            <!--<div class="col-lg-3 col-md-12 col-sm-12">-->
              <!--<ul>-->
                <!--<li><a href="#">Phim Hành Động</a></li>-->
                <!--<li class=""><a href="#">Phim Kinh Dị</a></li>-->
                <!--<li class=""><a href="#">Phim Khoa học viến tưởng</a></li>-->
                <!--<li class=""><a href="#">Phim hài hước</a></li>-->
              <!--</ul>-->
            <!--</div>-->

            <!--<div class="col-lg-3 col-md-12 col-sm-12">-->
              <!--<ul>-->
                <!--<li class=""><a href="#">Phim Tâm lý</a></li>-->
                <!--<li><a href="#">Phim hoạt hình</a></li>-->
                <!--<li class=""><a href="#">Phim Võ Thuật</a></li>-->
                <!--<li class=""><a href="#">Phim Thần Thoại</a></li>-->
              <!--</ul>-->
            <!--</div>-->

            <!--<div class="col-lg-3 col-md-12 col-sm-12 ">-->
              <!--<ul>-->
                <!--<li class=""><a href="#">Phim Mỹ</a></li>-->
                <!--<li class=""><a href="#">Phim Hàn Quốc</a></li>-->
                <!--<li><a href="#">Phim Hồng kông </a></li>-->
                <!--<li class=""><a href="#">Phim Trung Quốc</a></li>-->
              <!--</ul>-->
            <!--</div>-->

            <!--<div class="col-lg-3 col-md-12 col-sm-12">-->
              <!--<ul>-->
                <!--<li class=""><a href="#"> Năm 2018</a></li>-->
                <!--<li class=""><a href="#"> Năm 2017</a></li>-->
                <!--<li class=""><a href="#"> Năm 2016</a></li>-->
                <!--<li><a href="#">Năm 2015</a></li>-->
              <!--</ul>-->
            <!--</div>-->
          <!--</div>-->
        <!--</li>-->
        <!--<li class="dropdown2"><a class="dropdownlink">PHIM CHIẾU RẠP </a>-->
          <!--&lt;!&ndash;<div class="dropdownmenu2 row">&ndash;&gt;-->
            <!--&lt;!&ndash;<div class="col-lg-3 col-md-12 col-sm-12">&ndash;&gt;-->
              <!--&lt;!&ndash;<ul>&ndash;&gt;-->
                <!--&lt;!&ndash;<li><a href="#">Mỹ</a></li>&ndash;&gt;-->
                <!--&lt;!&ndash;<li class=""><a href="#">Hàn Quốc</a></li>&ndash;&gt;-->
                <!--&lt;!&ndash;<li class=""><a href="#">Việt Nam </a></li>&ndash;&gt;-->
                <!--&lt;!&ndash;<li class=""><a href="#">Ấn Độ</a></li>&ndash;&gt;-->
              <!--&lt;!&ndash;</ul>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->

            <!--&lt;!&ndash;<div class="col-lg-3 col-md-12 col-sm-12">&ndash;&gt;-->
              <!--&lt;!&ndash;<ul>&ndash;&gt;-->
                <!--&lt;!&ndash;<li class=""><a href="#">Năm 2019 </a></li>&ndash;&gt;-->
                <!--&lt;!&ndash;<li><a href="#">Năm 2018 </a></li>&ndash;&gt;-->
                <!--&lt;!&ndash;<li class=""><a href="#">Năm 2017 </a></li>&ndash;&gt;-->
                <!--&lt;!&ndash;<li class=""><a href="#">Năm 2016 </a></li>&ndash;&gt;-->
              <!--&lt;!&ndash;</ul>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->

            <!--&lt;!&ndash;<div class="col-lg-3 col-md-12 col-sm-12">&ndash;&gt;-->
              <!--&lt;!&ndash;<ul>&ndash;&gt;-->
                <!--&lt;!&ndash;<li class=""><a href="#">Năm 2015</a></li>&ndash;&gt;-->
                <!--&lt;!&ndash;<li class=""><a href="#">Năm 2014</a></li>&ndash;&gt;-->
                <!--&lt;!&ndash;<li><a href="#">Năm 2013</a></li>&ndash;&gt;-->
                <!--&lt;!&ndash;<li class=""><a href="#">Năm 2012</a></li>&ndash;&gt;-->
              <!--&lt;!&ndash;</ul>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->

            <!--&lt;!&ndash;<div class="col-lg-3 col-md-12 col-sm-12">&ndash;&gt;-->
              <!--&lt;!&ndash;<ul>&ndash;&gt;-->
                <!--&lt;!&ndash;<li class=""><a href="#">Năm 2011 </a></li>&ndash;&gt;-->
                <!--&lt;!&ndash;<li class=""><a href="#">Năm 2010</a></li>&ndash;&gt;-->
                <!--&lt;!&ndash;<li class=""><a href="#">Năm 2009</a></li>&ndash;&gt;-->
                <!--&lt;!&ndash;<li><a href="#">Năm 2008</a></li>&ndash;&gt;-->
              <!--&lt;!&ndash;</ul>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->

          <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--</li>-->
        <!--<li class="dropdown3 text-uppercase"><a class="dropdownlink">Anime</a></li>-->
        <li class="float-right login">
          <div class="m-auto">
          <a class="btn btn--login-yellow ">Đăng nhập</a>
        </div>
        </li>
        <li class="search-mobile"><input class="form-control dropdownlink" type="text" placeholder="Tìm kiếm: Tên Phim, diễn viên..."></li>
        <li class="login-mobile"><button class="btn btn--login-yellow form-control">Đăng nhập</button></li>
        <div class="clear"></div>
      </ul>
    </nav>
    <div class="search  ">
      <form action="" class="search-form d-flex justify-content-center">
        <div class="form-group has-feedback">
          <label for="search" class="sr-only">Search</label>
          <input type="text" class="form-control" name="search" id="search" placeholder="Tìm kiếm: tên phim, diễn viên">
        </div>
      </form>
    </div>

  </div>

</div>