<div class="categories">
  <div class="breadcrumbs">
    <h1 class="font-weight-bold">Admin > Category</h1>
    <a href="javascript:void(0)" (click)="toggleAction()" class="float-right btn-add"><i class="fa fa-plus-square "></i></a>
  </div>
  <div [@toggleAction]= 'state' class="toggle-action">
    <form novalidate [formGroup]="CategoryForm" (ngSubmit)="clicked ? EditCategorySubmit($event) : AddCategorySubmit($event) " enctype="multipart/form-data">
      <div class="form-group" [class.has-danger]="cateName?.invalid && (cateName?.dirty || cateName?.touched)" [class.has-success]="cateName?.valid && (cateName?.dirty || cateName?.touched)" >
        <label>Name category</label>
        <input type="text" class="form-control" formControlName="cateName"  placeholder="Enter category here" required>
        <p class="col alert alert-danger" role="alert"
           *ngIf="cateName?.errors?.required && cateName?.touched">
          Name category is required!
        </p>
      </div>
      <button type="button" (click)="reset()" class="btn btn-reset float-right">Reset</button>
      <button type="submit" class="btn btn-save float-right">Save</button>
    </form>
  </div>
  <div class="list-category">
    <table class="table table-bordered table-responsive-lg">
      <thead class="table-dark">
      <tr class="m-0">
        <th class="w-5 text-uppercase">id</th>
        <th class="w-20 text-uppercase">name category</th>
        <th class="w-20 text-uppercase">slug</th>
        <th class="w-20 text-uppercase">date created</th>
        <th class="w-20 text-uppercase">date updated</th>
        <th class="w-15 text-uppercase">action</th>
      </tr>
      </thead>
      <tbody>
      <tr class="m-0" *ngFor="let category of categories, let i = index">
        <td class="w-10">{{ category.id }}</td>
        <td class="w-20">{{ category.cate_name }}</td>
        <td class="w-20">{{ category.slug }}</td>
        <td class="w-20">{{ category.created_at}}</td>
        <td class="w-20">{{ category.updated_at}}</td>
        <td class="w-20">
          <a type="button" class="btn btn-dark" (click)="editCategory(category, category.id)">Edit</a>
          <a type="button" class="btn btn-danger" (click)="removeCategory(category.id)">Remove</a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="history">
    <a href="javascript:void(0)" (click)="toggleHistory()" class="btn btn-info btn-history float-right"><i class="fa fa-history"></i> History Delete</a>
    <div class="list-history" [@toggleHistory] = 'state_1'>
      <table class="table table-bordered table-responsive-lg">
        <thead class="table-dark">
        <tr class="m-0">
          <th class="w-5 text-uppercase">id</th>
          <th class="w-30 text-uppercase">name category</th>
          <th class="w-30 text-uppercase">slug</th>
          <th class="w-20 text-uppercase">date deleted</th>
          <th class="w-15 text-uppercase">action</th>
        </tr>
        </thead>
        <tbody>
        <tr class="m-0" *ngFor="let history of histories">
          <td class="w-10">{{ history.id }}</td>
          <td class="w-30">{{ history.cate_name }}</td>
          <td class="w-30">{{ history.slug }}</td>
          <td class="w-200">{{ history.deleted_at }}</td>
          <td class="w-15">
            <a type="button" (click)="restoreCategory(history.id)" class="btn btn-info btn-restore">Restore</a>
            <a type="button" class="btn btn-danger btn-delete" (click)="deleteCategory(history.id)" >Delete</a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
