/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/scss/bootstrap";

body {
  font-family: 'Arsenal', sans-serif;
  background-color: #3e3e3e ;
  font-size: 17px;
}
@media only screen and (max-width: 768px) {
  body {
    font-family: 'Poppins', sans-serif;
    background-color:  #3c3b3b ;
  }
}

.row {
  margin-bottom: 20px;
}


.images {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 20px;
  cursor: pointer;
  transition: transform 0.6s;
  color: white;
}
.images a {
  color: white;
}
.images a:hover {
  text-decoration: none;
}
.images:hover {
  -ms-transform: scale3d(1.1, 1.1, 1); /* IE 9 */
  -webkit-transform: scale3d(1.1, 1.1, 1); /* Safari 3-8 */
  transform: scale3d(1.1, 1.1, 1.1);
}
.images img {
  width: 100%;
  height: 320px;
}
.img-thumbnail {
  display: block;
  width: auto;
  height: 250px;
}


.text {
  color: black;
  font-size: 20px;
  position: absolute;
  top: 45%;
  left: 13%;
  //margin-left: -15px;
  cursor: pointer;
  //margin-right: 20px;
  transform: translate(0, -50%);
  -ms-transform: translate(-50%, -50%);
  white-space: nowrap;
}
.image-name {
  line-height: 50px;
  background-color: black;
  opacity: 0.6;
  position: absolute;
  display: block;
  bottom: 5px;
  width: 95%;
  .name {
    color: white;
    margin-left: 5px;
    margin-right: 5px;
  }
}
.name-movie p {
  margin-bottom: 5px;
}
.btn-trailer {
  margin-left: 10px;
  margin-right: 5px;
  margin-bottom: 5px;
}
.btn-watch-movie {
  margin-left: 10px;
  margin-bottom: 5px;
}
.img-thumbnail {
  height: auto;
}
.images .el-name {
  font-size: 14px;
}
.img-info {
  font-size: 15px;
  p{
    margin-bottom: 0;
  }
  .name{
    font-weight: bold;
  }
  .view-number {
    font-weight: bold;
  }
  .el-name {
    font-weight: bold;
    font-size: 12px;
  }
  .review {
    font-weight: bold;
  }
}
.movies-hot-week {
  margin-bottom: 25px;
}
@media only screen and (max-width: 768px) {
  .images img {
    width: 100%;
    height: auto;
  }
}
.hidden{
  opacity:0;
}
.visible{
  opacity:1;
}