<div class="container movies-detail">
  <div class="row" >
    <div class="breadcrumbs">
      <h4><span class="text-capitalize" *ngFor="let category of film.categories">{{category.cate_name}} > </span> {{film.film_name}}</h4>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="row">
        <app-video-playlist></app-video-playlist>
      </div>
      <div class="row">
        <h2 class="col-12 text-uppercase">Thông tin phim</h2>
      </div>
      <div class="row">
        <div class="informations col-12">
          <h4>{{film.film_name}}</h4>
         <div class="row">
           <p class="col-4"><span class="font-weight-bold ">Năm: </span><span>{{film.film_information.year}}</span></p>
           <p class="col-4"><span class="font-weight-bold">Số tập: </span><span>{{film.film_information.episode_number}}</span></p>
           <p class="col-4"><span class="font-weight-bold">Chất lượng: </span><span>{{film.film_information.high_definition}}</span></p>
           <p class="col-4"><span class="font-weight-bold">View: </span><span>{{film.film_information.view}}</span></p>
         </div>
        </div>
      </div>
      <div class="movie-content row">
        <div class="col-12">
          <div class="row">
            <ul class="nav nav-tabs col-12" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#noi_dung_phim">Nội dung phim</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#dien_vien">Diễn Viên</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#comments">Comments</a>
              </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content col-12">
              <div id="noi_dung_phim" class="container tab-pane active film-content" [innerHtml]="film.film_information.content">
              </div>
              <div id="dien_vien" class="container tab-pane fade"><br>
                <div class="col-12">
                  <div class="row">
                    <div *ngFor="let actor of film.actors" class="col-lg-3 col-md-3 col-sm-4 col-xs-6 image-actor text-center">
                      <a href="javascript:void(0)">
                        <img src="{{actor.image}}" class=" img-fluid" alt="Responsive image">
                        <h4 class="name-actor">{{actor.actor_name}}</h4>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div id="comments" class="container tab-pane fade"><br>
                <h3>Menu 2</h3>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row tags">
        <div class=" col-12">
          <app-tag></app-tag>
        </div>
      </div>
      <div class="row">
        <h2 class="text-uppercase col-12">CÓ THỂ BẠN CŨNG MUỐN XEM</h2>
      </div>
      <div class="row related-movie">
        <div class="col-12">
          <app-related-movie></app-related-movie>
        </div>
      </div>
    </div>
  </div>
</div>