<div class="container movies-detail">
  <div class="row">
    <div class="breadcrumbs">
      <h4>Trang chu > chi tiet</h4>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="row">
        <app-video-playlist></app-video-playlist>
      </div>
      <div class="row">
        <h2 class="col-12 text-uppercase">Thông tin phim</h2>
      </div>
      <div class="movie-content row">
        <div class="col-12">
          <div class="row">
            <ul class="nav nav-tabs col-12" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#noi_dung_phim">Nội dung phim</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#dien_vien">Diễn Viên</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#comments">Comments</a>
              </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content col-12">
              <div id="noi_dung_phim" class="container tab-pane active"><br>
                <h3><strong>12 Con Khỉ Phần 4,&nbsp;12 Monkeys Season 4 (2018)</strong></h3>

                <p><strong>Phim <a href="http://bilutv.com/phim/12-con-khi-phan-4-6952.html">12 Con Khỉ Phần 4</a>&nbsp;</strong>là một bộ phim khoa học viễn tưởng Mỹ lấy bối cảnh tại tương lai không xa, con người chứng kiến thảm họa kinh hoàng nhất khi gần như toàn bộ dân số trên trái đất tử vong vì bệnh dịch. Chính quyền triệu tập các nhà khoa học tìm cách quay trở lại quá khứ bằng cỗ máy thời gian để tìm nguồn gốc ban đầu của bệnh dịch và tìm kiếm tổ chức đã phát tán loại virus này. Dựa trên phim cùng tên được sản xuất năm 1995 Twelve Monkeys (Brad Pitt, Bruce Willis).</p>

                <p><img class="img-fluid text-center" alt="Xem Phim 12 Con Khỉ Phần 4, 12 Monkeys Season 4" src="../../../assets/images/films/2-201806622.jpg" title="12 Con Khỉ Phần 4, 12 Monkeys Season 4 (2018)"></p>
              </div>
              <div id="dien_vien" class="container tab-pane fade"><br>
                <div class="col-12">
                  <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 image-actor text-center">
                      <img src="../../../assets/images/thumb.jpg" class=" img-fluid" alt="Responsive image">
                      <h6 class="name-actor">harry storm</h6>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 image-actor text-center">
                      <img src="../../../assets/images/thumb.jpg" class=" img-fluid" alt="Responsive image">
                      <h6 class="name-actor">harry storm</h6>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 image-actor text-center">
                      <img src="../../../assets/images/thumb.jpg" class=" img-fluid" alt="Responsive image">
                      <h6 class="name-actor">harry storm</h6>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 image-actor text-center">
                      <img src="../../../assets/images/thumb.jpg" class=" img-fluid" alt="Responsive image">
                      <h6 class="name-actor">harry storm</h6>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 image-actor text-center">
                      <img src="../../../assets/images/thumb.jpg" class=" img-fluid" alt="Responsive image">
                      <h6 class="name-actor">harry storm</h6>
                    </div>
                  </div>
                </div>
              </div>
              <div id="comments" class="container tab-pane fade"><br>
                <h3>Menu 2</h3>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row tags">
        <div class=" col-12">
          <app-tag></app-tag>
        </div>
      </div>
      <div class="row">
        <h2 class="text-uppercase col-12">CÓ THỂ BẠN CŨNG MUỐN XEM</h2>
      </div>
      <div class="row related-movie">
        <div class="col-12">
          <app-related-movie></app-related-movie>
        </div>
      </div>
    </div>
  </div>
</div>