.movies-detail {
  font-size: 14px;
}
.breadcrumbs {
  width: 100%;

  line-height: 30px;
  padding: 10px;
  background-color: #181818;
  margin-bottom: 10px;
}
.breadcrumbs h4 {
  color: white;
}
.video-movie {
  background-color: #262626;
  margin-bottom: 135px;
  height: 600px;
}
.tags {
  background-color: #262626;

}
.btn-movie {
  position: absolute;
  bottom: 85px;
  width: 100%;
  margin: 10px;
}
.btn-movie a {
  margin: 2px;
}
.detail-info {
  margin-top: 10px;
  color: white;
}
.detail-info h3 {
  color: #bebeda;
}
.detail-info h4 {
  font-size: 15px;
}

.movies-detail h2 {
  line-height: 20px;
  padding: 10px;
  background-color: #181818;
  color: white;
}
.info-movie  {
  margin-bottom: 50px;
}
.movie-content {
  background-color: #262525 ;
}

.image-actor img {
  height: 200px;
}
.ads_300_600 {
  background-color: white;
  height: 600px;
  width: 100%;
  margin-bottom: 1px;
}
.ads_300_250 {
  background-color: white;
  height: 250px;
  width: 100%;
  margin-bottom: 1px;
}
.link-facebook {
  height: 150px;
  background-color: white;
  width: 100%;
  margin-bottom: 1px;
}
.related-movie {
  background-color: #262626;
  padding: 5px;
}
.related-movie h2 {
  margin-top: 20px;
}