<nav class="cd-side-nav">
  <ul>
    <li class="cd-label">Main</li>
    <li class="has-children overview">
      <a href="javascript:void(0)" routerLink="/admin/categories" class="category-icon">Category</a>
    </li>
    <li class="has-children overview">
      <a href="javascript:void(0)" routerLink="/admin/genres">Genres</a>
    </li>
    <li class="has-children notifications active">
      <a href="javascript:void(0)" >Films</a>
      <ul>
        <li><a href="javascript:void(0)" routerLink="/admin/films">All Films</a></li>
        <li><a href="javascript:void(0)" routerLink="/admin/films/informations">Information Film</a></li>
        <li><a href="javascript:void(0)" routerLink="/admin/films/images">Images</a></li>
        <li><a href="javascript:void(0)" routerLink="/admin/films/poster">Poster</a></li>
      </ul>
    </li>
    <li class="has-children users">
      <a href="javascript:void(0)" routerLink="/admin/actors">Actors</a>
    </li>

    <li class="has-children comments">
      <a href="#0">Comments</a>

      <ul>
        <li><a href="#0">All Comments</a></li>
        <li><a href="#0">Edit Comment</a></li>
        <li><a href="#0">Delete Comment</a></li>
      </ul>
    </li>
  </ul>

  <ul>
    <li class="cd-label">Secondary</li>
    <li class="has-children bookmarks">
      <a href="#0">Bookmarks</a>

      <ul>
        <li><a href="#0">All Bookmarks</a></li>
        <li><a href="#0">Edit Bookmark</a></li>
        <li><a href="#0">Import Bookmark</a></li>
      </ul>
    </li>
    <li class="has-children images-film">
      <a href="#0">Images</a>

      <ul>
        <li><a href="#0">All Images</a></li>
        <li><a href="#0">Edit Image</a></li>
      </ul>
    </li>

    <li class="has-children users">
      <a href="javascript:void(0)" routerLink="/admin/users">Users</a>
      <!--<ul>-->
        <!--<li><a href="#0">All Users</a></li>-->
        <!--<li><a href="#0">Edit User</a></li>-->
        <!--<li><a href="#0">Add User</a></li>-->
      <!--</ul>-->
    </li>
  </ul>

  <ul>
    <li class="cd-label">Action</li>
    <li class="action-btn"><a href="#0">+ Button</a></li>
  </ul>
</nav>